<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name, "Club Name" %><br />
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :description %><br />
  <%= f.text_area :description %></div>

  <div><%= f.label :website %><br />
  <%= f.text_field :website %></div>

  <table border="1" width= 225px><tr><td><b>President</b>
  <div><%= f.label :president_first_name, "First name" %><br />
  <%= f.text_field :president_first_name %></div>

  <div><%= f.label :president_last_name, "Last name" %><br />
  <%= f.text_field :president_last_name %></div>

  <div><%= f.label :president_contact, "Contact phone number" %><br />
  <%= f.text_field :president_contact %></div>

  <div><%= f.label :president_email, "Email" %><br />
  <%= f.email_field :president_email %></div>
  </td></tr></table><br />

  <table border="1" width= 225px><tr><td><b>Treasurer</b>
  <div><%= f.label :treasurer_first_name, "First name" %><br />
  <%= f.text_field :treasurer_first_name %></div>

  <div><%= f.label :treasurer_last_name, "Last name" %><br />
  <%= f.text_field :treasurer_last_name %></div>

  <div><%= f.label :treasurer_contact, "Contact phone number" %><br />
  <%= f.text_field :treasurer_contact %></div>

  <div><%= f.label :treasurer_email, "Email" %><br />
  <%= f.email_field :treasurer_email %></div>
  </td></tr></table><br />

  <table border="1" width= 225px><tr><td><b>Administrator</b><br />
    <i>This person will administer the club on this application</i><br />
  <div><%= f.label :admin_first_name, "First name" %><br />
  <%= f.text_field :admin_first_name %></div>

  <div><%= f.label :admin_last_name, "Last name" %><br />
  <%= f.text_field :admin_last_name %></div>

  <div><%= f.label :admin_contact, "Contact phone number" %><br />
  <%= f.text_field :admin_contact %></div>

  <div><%= f.label :email, "Email" %><br />
  <%= f.email_field :email %></div>
  </td></tr></table><br />

  <div><%= f.label :banner, "Banner image" %><br />
  <%= f.file_field :banner %></div>

  <div><%= f.label :nickname %><br />
  <%= f.text_field :nickname %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div><br />

  <div><%= f.submit "Update" %></div>
<% end %>
<br />

<p><%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
