<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Count/Number</th>
      <th>Price</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Purchase location</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.count %>/<%= ticket.number %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.start_date %></td>
        <td><%= ticket.end_date %></td>
        <td><%= ticket.purchase_location %></td>
        <td><%= ticket.description %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
